:root {
  --bg-color: #0a0e14;
  --card-border-color: rgba(0, 191, 255, 0.2);
}

#animation-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  touch-action: pan-y;
  
  background-color: var(--bg-color);
  background-image:
    radial-gradient(var(--card-border-color) 1px, transparent 1px),
    radial-gradient(var(--card-border-color) 1px, var(--bg-color) 1px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}

#magic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}


@media (max-height: 768px) {
  #animation-section {
    height: 70vh;
  }
}



